.jumbotron {
    margin-top: 80px;
}

.shareFacebook {
    width: 7vw;
    height: 50px;
    margin-top: 8px;
    left: 20px;
}

.shareLink {
    width: 7vw;
    height: 30px;
    margin-top: 0;
    margin-left: 7px;
}

.navbar-brand {
    color: white;
}

.jumbotron .container {
    max-width: 100%;
}

